.Good-sales-section-1 {
    margin-bottom: 70px;
}
.Good-sales-section-1-form-top {
}
.Good-sales-section-1-form-top-description {
    &__text {
        color: white;
        max-width: 400px;
    }
    &__header {}
}
