.Good-basket-section-1 {
    margin-bottom: 120px;
}
.Good-basket-section-1-form-top {
}
.Good-basket-section-1-form-top-description {
    &__header {}
    &__text {
        max-width: 400px;
        color: white;
        margin-bottom: 60px;
    }
}