.Good-index-section-1 {
    margin-bottom: 120px;
}
.Good-index-section-1-form-top {
}
.Good-index-section-1-form-top-description {
    &__header {}
    &__text {
        max-width: 450px;
        color: white;
        font-weight: 300;
    }
}
.main-header {
}
