.Good-index-section-5 {
    margin-bottom: 120px;
    &__line {
        height: 5px;
        background: #E8E8E8;
        border-radius: 2px;
        margin-bottom: 60px;
    }

    &__catalog-box {}
}