.color-box {
    display: flex;
    gap: 10px;

    &__item {
        width: 60px;
        height: 60px;
        background: #BF3E3E;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}