.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header-left-box {
    display: flex;
    gap: 30px;
    align-items: center;
    &__logo{
        width: 80px;
    }
}
.nav {
    @include table{
        display: none;
    }
}
.nav-list {
    display: flex;
    gap: 25px;
    align-items: center;
    &__item {}
    &__link {}
}
.site-header-right-box {
}
