.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header-left-box {
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav {
}
.nav-list {
    display: flex;
    gap: 25px;
    &__item {}
    &__link {}
}
.site-header-right-box {
}
