.user-create-section-1 {
}
.user-create-section-1-form-top {
}
.user-create-section-1-form-top-input-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    input{
        width: 50%;
        @include table{
            width: 100%;
        }
    }
}
.user-create-section-1-form-top-input-box-button {
}
